<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="USTCORi.WebLabClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IWLService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="1000" maxStringContentLength="819200000" maxArrayLength="1638400000" maxBytesPerRead="409600000" maxNameTableCharCount="1638400000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IFileTransfer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="1000" maxStringContentLength="819200000" maxArrayLength="1638400000" maxBytesPerRead="409600000" maxNameTableCharCount="1638400000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IBizService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="1000" maxStringContentLength="819200000" maxArrayLength="1638400000" maxBytesPerRead="409600000" maxNameTableCharCount="1638400000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://aryun.ustcori.com:9122/WLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWLService" contract="WLServiceReference.IWLService" name="BasicHttpBinding_IWLService" />
			<endpoint address="http://aryun.ustcori.com:9122/FileTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransfer" contract="FileTransferReference.IFileTransfer" name="BasicHttpBinding_IFileTransfer" />
			<endpoint address="http://aryun.ustcori.com:9122/BizService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBizService" contract="BizServiceReference.IBizService" name="BasicHttpBinding_IBizService" />
		</client>
	</system.serviceModel>
	<userSettings>
		<USTCORi.WebLabClient.Properties.Settings>
			<setting name="LastHallColor" serializeAs="String">
				<value>#FF036880</value>
			</setting>
			<setting name="TitleText" serializeAs="String">
				<value>实验大厅 v2.5</value>
			</setting>
			<setting name="DefaultUser" serializeAs="String">
				<value>student</value>
			</setting>
			<setting name="DefaultPassword" serializeAs="String">
				<value>123</value>
			</setting>
		</USTCORi.WebLabClient.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>